
.LoginForm
{
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px 0px #00000080;
    -moz-box-shadow: 1px 1px 10px 0px #00000080;
    box-shadow: 1px 1px 10px 0px #00000080;
}

.LoginForm input[type=text], .LoginForm input[type=password]
{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0px;
    border-bottom: 3px solid #FFC107;
}

#ButtonLogin
{
    position: relative;
    top: 15px;
    border-radius: 99px;
}